*{
    box-sizing: border-box;
    color: #EAEAEA;
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

body{
    height: 100vh;
    background: linear-gradient(#102040,#B666D9);
}

header{
    background-color: #25252571;
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    width: 100%;
}

nav{
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
    border: none;
    padding: 15px;
}

li,a{
    margin-right: 10px;
    text-decoration: none;
    color: #EAEAEA;
    font-size: 20px;
}

li a:hover{
    color: #8350F2;
    text-shadow: 0 0 24px white;
}

header .logo img{
    width: 70px;
}


.titulo1{
    justify-content: center;
    width: 100vw;
    height: 400px;
    display: flex;
    background-color: #25252500;
}


footer{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 50px;
}